{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block title %}
  Todo List
{% endblock %}
{% block content %}
  <div class="container-sm px-4 py-5 my-5 text-center">
    <div class="card shadow-lg p-3 mb-5 rounded-4">
      <h1 class="display-5 fw-bold text-primary">{{ title }}</h1>
      <div class="col-lg-6 mx-auto">
        <form  role="search" action="{% url 'search' 'search' %}">
          {% csrf_token %}
          <div >
            <div class="search-div ">
              <span class="form-label py-4">List</span>
              <div class="input-group mt-1">
                <input class="form-control form-control"
                       name="search"
                       type="text"
                       id="search"
                       value="{{ search_term }}"
                       {% comment %}
                       hx-headers='{"action":  "test"}}'
                       {% endcomment %}
                       placeholder="Search..." />
                {% if search_term %}
                  <a class="btn btn-outline-secondary"
                     href="{% url 'index' %}"
                     hx-include="#filter-form"
                     hx-headers='{"action": "action"}'
                     id="clear-segment">{% bs_icon 'x' %}</a>
                {% endif %}
                <button class="btn btn-outline-secondary d-flex align-items-center justify-content-center"
                        id="search-button">{% bs_icon 'search' %}</button>
              </div>
          {% comment %} <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button> {% endcomment %}
        </form>
        {% comment %} <div class="input-group mb-3">
          <form class="d-flex" role="search" action="{% url 'search' 'search' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name='search' placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <form  class="d-flex" role="search" action="{% url 'search' 'search' %}">
           
          </form>
        </div> {% endcomment %}
        
        <div class="table-responsive">
          <table class="table">
            <thead></thead>
            <tbody>
              {% for item in items %}
                <tr>
                  <td>
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'tasks' item.pk %}">{{ item.list_name }}</a>
                  </td>
                </tr>
              {% empty %}
                <p>No lists Yet</p>
              {% endfor %}
            </tbody>
          </table>
          <p class="lead mb-4">Add a new item to your list</p>
        </div>
        <div class="d-grid gap-2">
          <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'create_list_form' %}">New List</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
