{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load widget_tweaks %}
{% block title %}
  Todo List
{% endblock %}
{% block content %}
  <div class="container-sm px-4 py-5 my-5 text-center">
    <div class="card shadow-lg p-3 mb-5 rounded-4">
      <h1 class="display-5 fw-bold text-primary">{{ title }}</h1>
      <div class="col-lg-6 mx-auto">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">{% bs_icon 'search' %}</span>
          <input type="text" class="form-control" placeholder="Search for a task" aria-label="Username" aria-describedby="basic-addon1" />
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead></thead>
            <tbody>
              {% for item in tasks %}
                <tr>
                  <td>{{ item.task_name }}</td>
                  <td>
                      <form action="{% url 'update_task_status' item.pk %}" method="POST" id="task-form-{{ item.pk }}">
                        {% csrf_token %}
                        <input class="form-check-input" 
                               type="checkbox" 
                               value="True" 
                               id="task-{{ item.pk }}" 
                               name="status"
                               {% if item.status %} checked {% endif %}
                               onchange="this.form.submit()"  
                                />
                    </form>
                  </td>
        
                {% comment %} <td>
                  {% include "partials/task_status_cell.html" with task=item %}
                </td> {% endcomment %}
                  {% comment %} <td>
                    <a href="{% url 'update_task_status' item.pk %}">update</a>
                   </td> {% endcomment %}
                  <td>
                   <a href="{% url 'delete_task' item.pk %}">Delete</a>
                  </td>
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <p id="task-counter">Tasks Completed {{ completed }} / {{ total }}</p>

          <p class="lead mb-4">Add a new item to your list</p>
        </div>
        <form method="post">
            {% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="form-group my-1">
                  <label for="{{ field.id_for_label }} ">{{ field.label }}</label>
                  {% render_field field class='form-control'  %}
              {% endfor %}
              <div class="mt-3">
                    <input class="btn btn-primary" type="submit" value="Save" />
            </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}
